/* turbopascal-06-components-dialogs.css */

/* * *   Components :: Dialogs  * * */

/* *   Colors   * */

.dialog
{
    scrollbar-color: var(--turbopascal-fg-blue) var(--turbopascal-bg-turqoise);
    /* Text of this component can't be selected. */
    /* TODO */
    /* Instead of pasting this code onto every component, how can they all share this feature otherwise? */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    background-color: var(--turbopascal-bg-grey);
    color: var(--turbopascal-fg-white);

    box-shadow: 0.5em 0.5em var(--turbopascal-bg-black);
}

/* Dialog > Frame */
.dialog .frame
{
    text-transform: none;
}
.dialog .frame .icons
{
    color: var(--turbopascal-fg-green);
}

/* Dialog > Static text, Labels */
.dialog .static, .dialog .label
{
    background-color: var(--turbopascal-bg-grey);
    color: var(--turbopascal-fg-black);
}
.dialog .label:active
{
    color: var(--turbopascal-fg-white);
}
.dialog .label .shortcut
{
    color: var(--turbopascal-fg-yellow);
}

/* Dialog > Button */
.dialog button,
.dialog .button
{
    box-shadow: 0.5em 0.5em var(--turbopascal-bg-black);
    background-color: var(--turbopascal-bg-green-dark);
    color: var(--turbopascal-fg-black);
    border-width: 0px;
}
.dialog button:active,
.dialog .button:active
{
    box-shadow: 0em 0em var(--turbopascal-bg-black);
}
.dialog button.default,
.dialog .button.default
{
    color: var(--turbopascal-fg-cyan);
}
.dialog button:focus,
.dialog .button:focus
{
    color: var(--turbopascal-fg-white);
}
.dialog button.disabled,
.dialog .button.disabled
{
    background-color: var(--turbopascal-bg-grey);
    color: var(--turbopascal-fg-grey-dark);
}
.dialog button .shortcut,
.dialog .button .shortcut
{
    color: var(--turbopascal-fg-yellow);
}

/* Dialog > Cluster */
.dialog .cluster
{
    background-color: var(--turbopascal-bg-turqoise);
    color: var(--turbopascal-fg-black);
}
.dialog .cluster *::selection
{
    color: var(--turbopascal-fg-white);
}
.dialog .cluster .shortcut
{
    color: var(--turbopascal-fg-yellow);
}
.dialog .cluster .disabled
{
    color: var(--turbopascal-fg-grey-dark);
}

/* Dialog > Input */
.dialog input,
.dialog .input
{
    background-color: var(--turbopascal-bg-blue);
    color: var(--turbopascal-fg-white);
}
.dialog input:hover,
.dialog .input:hover
{
    background-color: var(--turbopascal-bg-green-dark);
}
.dialog input .arrow,
.dialog .input .arrow
{
    color: var(--turbopascal-fg-green);
}

/* Skipping Dialog > History. */

/* Dialog > List */
.dialog ul li,
.dialog ol li,
.dialog menu li
{
    background-color: var(--turbopascal-bg-turqoise);
    color: var(--turbopascal-fg-black);
}
.dialog ul li:hover,
.dialog ol li:hover,
.dialog menu li:hover
{
    background-color: var(--turbopascal-bg-green-dark);
    color: var(--turbopascal-fg-white);
}
.dialog ul li:active,
.dialog ol li:active,
.dialog menu li:active
{
    color: var(--turbopascal-fg-yellow);
}
.dialog menu
{
    border-color: var(--turbopascal-fg-blue);
    border-style: none;
}
.dialog .information-panel
{
    background-color: var(--turbopascal-bg-blue);
    color: var(--turbopascal-fg-turqoise);
}


/* *   Layout   * */

.dialog
{
    position: fixed;
    top: 33%;
    left: 33%;
    width: max-content;
    height: max-content;

    padding: 1em;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.dialog .buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
