/* turbopascal.css */

/* * *   Fonts   * * */

.editor-fonts {
    /* TODO */
    /* How to load a custom font from my PC? */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.frame {
    text-transform: uppercase;
    text-align: center;
}

/* * *   Colors   * * */

/*** Palette ***/
/* Global scope */
:root {
    /*** Foreground colors ***/
    --turbopascal-fg-black: #000000;
    --turbopascal-fg-blue: #000aad;
    --turbopascal-fg-green-dark: #008e00;
    --turbopascal-fg-turqoise: #0099aa;
    --turbopascal-fg-red: #b51000;
    --turbopascal-fg-magenta: #b31bac;
    --turbopascal-fg-brown: #af5800;
    --turbopascal-fg-grey: #aaaaaa;
    --turbopascal-fg-grey-dark: #555555;
    --turbopascal-fg-blue-light: #525fff;
    --turbopascal-fg-green: #4be352;
    --turbopascal-fg-cyan: #49eeff;
    --turbopascal-fg-red-light: #ff6552;
    --turbopascal-fg-magenta-light: #ff70ff;
    --turbopascal-fg-yellow: #fff451;
    --turbopascal-fg-white: #ffffff;
    /*** Background colors ***/
    --turbopascal-bg-black: #000000;
    --turbopascal-bg-blue: #000aad;
    --turbopascal-bg-green-dark: #008e00;
    --turbopascal-bg-turqoise: #0099aa;
    --turbopascal-bg-red: #b51000;
    --turbopascal-bg-magenta: #b31bac;
    --turbopascal-bg-brown: #af5800;
    --turbopascal-bg-grey: #aaaaaa;
}
/*** Editor (& Syntax TODO) ***/
.editor, .syntax {
    /* TODO */
    /* Put the common parts in one 'editor' class. */
    /* Define each single variations in separate classes. */
    background-color: var(--turbopascal-bg-blue);
    color: var(--turbopascal-fg-yellow);
}
.editor .frame {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
/* The frame is the vertical and horizontal lines inside the editor box. */
.editor-frame-passive {
    background-color: var(--turbopascal-bg-blue);
    color: var(--turbopascal-fg-grey);
}
.editor-frame-active {
    background-color: var(--turbopascal-bg-blue);
    color: var(--turbopascal-fg-white);
}
.editor-frame-icons {
    background-color: var(--turbopascal-bg-blue);
    color: var(--turbopascal-fg-green);
}
/* The scroll bar was made of foreground and background points. */
.editor-scroll-bar-page {
    background-color: var(--turbopascal-bg-turqoise);
    color: var(--turbopascal-fg-blue);
}
.editor-scroll-bar-icons {
    background-color: var(--turbopascal-bg-turqoise);
    color: var(--turbopascal-fg-blue);
}
/* Normal text and selected text. */
.editor-normal-text {
    background-color: var(--turbopascal-bg-blue);
    color: var(--turbopascal-fg-yellow);
}
.editor-normal-text::selection {
    background-color: var(--turbopascal-bg-grey);
    color: var(--turbopascal-fg-blue);
}
/* Text in error messages. */
.editor-error-message {
    background-color: var(--turbopascal-bg-red);
    color: var(--turbopascal-fg-yellow);
}


/*** Menus TODO ***/
.menu {
    background-color: #c0c0c0;
    color: #000000;
}
.menu .shortcut {
    color: #800000;
}

/*** Syntax TODO ***/
.syntax .keyword {
    color: #ffffff;
}