/* turbopascal-05-components-syntax.css */

/* * *   Components :: Syntax  * * */

/*** Syntax TODO ***/
.syntax .comments
{
    background-color: var(--turbopascal-bg-blue);
    color: var(--turbopascal-fg-grey);
}
.syntax .reserved-word
{
    color: var(--turbopascal-fg-white);
}
.syntax .assembler
{
    color: var(--turbopascal-fg-green);
}