/* turbopascal-03-components-editor.css */

/* * *   Components :: Editor   * * */

/*** Editor ***/
.editor,
.editor *
{
    background-color: var(--turbopascal-bg-blue);
    color: var(--turbopascal-fg-yellow);
    scrollbar-color: var(--turbopascal-fg-blue) var(--turbopascal-bg-turqoise);
}

/* Selected text inside the editor. */
.editor::selection,
.editor *::selection
{
    background-color: var(--turbopascal-bg-grey);
    color: var(--turbopascal-fg-blue);
}

/* Editor > Frame */
/* The frame is the vertical and horizontal lines inside the editor box. Includes the filename. */
.editor .frame
{ 
    background-color: var(--turbopascal-bg-blue);
    color: var(--turbopascal-fg-white);
    text-transform: uppercase;
    text-align: center;
    /* Text of this component can't be selected. */
    /* TODO */
    /* Instead of pasting this code onto every component, how can they all share this feature otherwise? */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Editor > Frame > Passive/Active/Icons */
.editor .frame .active {
    color: var(--turbopascal-fg-white);
}
.editor .frame .passive,
.editor .frame .passive::selection /* XXX Color trick, can't select frames. */
{
    background-color: var(--turbopascal-bg-blue);
    color: var(--turbopascal-fg-grey);
}
.editor .frame .icons,
.editor .frame .icons::selection /* XXX Color trick, can't select frames. */
{
    background-color: var(--turbopascal-bg-blue);
    color: var(--turbopascal-fg-green);
}

/* Text in error messages. */
.editor-error-message {
    background-color: var(--turbopascal-bg-red);
    color: var(--turbopascal-fg-yellow);
}


/* *   Layout   * */

/* .editor
{
    height: 100%;
} */