/* turbopascal-06-components-dialogs.css */

/* * *   Components :: Dialogs  * * */

/*** Dialogs TODO ***/
.dialog
{
    scrollbar-color: var(--turbopascal-fg-blue) var(--turbopascal-bg-turqoise);
}
.dialog .frame
{
    background-color: var(--turbopascal-bg-grey);
    color: var(--turbopascal-fg-white);
}
.dialog .frame .icons
{
    color: var(--turbopascal-fg-green);
}
