/* turbopascal-04-components-menu.css */

/* * *   Components :: Menu  * * */

/*** Menu ***/
.menu
{
    background-color: var(--turbopascal-bg-grey);
    color: var(--turbopascal-fg-black);
}
.menu .disabled
{
    color: var(--turbopascal-fg-grey-dark);
}
.menu .shortcut
{
    color: var(--turbopascal-fg-red);
}
.menu ul li:hover,
.menu ul li *:hover
{
    background-color: var(--turbopascal-bg-green-dark);
}